<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Books</h1>
    <% @books.each do |list| %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <span><%= list.title %></span>
          <th>Body</th>
          <span><%= list.body %></span>
          <th colspan = "3"></th>
        </tr>
      </thead>
    </table>
    <% end %>

    <h2>New Books</h2>
    <%= form_with model: @book, url:'/books', local:true do |f| %>
    <div>Title</div>
    <%= f.text_field :title %>
    <div>Body</div>
    <%= f.text_area :body %>
    <%= f.submit 'Create Books' %>
    <% end %>
  </body>
</html>