<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    </div>
    <h2>Title:</h2>
    <p><%= @book.title %></p>
    <h2>Body:</h2>
    <p><%= @book.body %></p>

    <%= link_to "Edit", edit_book_path(@book.id) %>
    |
    <%= link_to "Back", controller: 'books' %>
  </body>
</html>